<configuration>
    <connectionStrings>
        <add name="conn1" connectionString="ashdss" providerName="def"/>
        <add name="conn2" connectionString="ervs" providerName="vdfcv"/>
    </connectionStrings>
    <appSettings>
        <add key="Config:name" value="tom"/>
        <add key="Config:age" value="14"/>
        <add key="Config:proxy.address" value="american"/>
        <add key="Config:proxy.post" value="8080"/>
    </appSettings>
</configuration>